<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

     {{ block "head" . }}{{ partial "head.html" . }}{{ end }} 

     <script> if (window.location.search.includes("no-track")) { localStorage.setItem("skipAnalytics", "true"); } if (localStorage.getItem("skipAnalytics") !== "true") { const cfScript = document.createElement("script"); cfScript.defer = true; cfScript.src = "https://static.cloudflareinsights.com/beacon.min.js"; cfScript.setAttribute("data-cf-beacon", '{"token": "c5ada26cf19f4c60bd3c2182b9c76b11"}'); document.head.appendChild(cfScript); } </script>
</head>
<body>
    {{ partial "header.html" . }}
    <main id="main-content" role="main">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}

    <script src="{{ "js/main.js" | relURL }}"></script>
</body>
</html>