{{ define "main" }}
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Glow Strong, Live Well — Your Rituals Start Here</h1>
            <p>
                Vibefit blends beauty and wellness into one empowering space. From skincare rituals and fashion insights to mindful movement and holistic health tips, we help you craft a self-care journey that’s radiant, balanced, and uniquely yours.
            </p>
        </div>
    </div>
</section>
{{ end }}